
.rmdm-action{
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 12px;
	padding: 18px 0 18px 0;
}
.rmdm-transition{
	padding: 32px;
}
.rmdm-transition img{
		position: absolute;
		top: 18px;
		left: 0;
		width: 25px;
}
