<div class="modal-header">
    <h4 class="modal-title" >Stelle aufräumen</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
 
</div>
<div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p>Fotografiere die Stelle vor und nach dem Aufräumen</p>
    <label *ngIf="!stateBefore.pictureData" for="input-Before" class="btn btn-primary">Bild von vermüllter Stelle machen
        <input style="display: none;" id="input-Before" type="file" accept="image/*" capture  (change)="setPictureDataAndSave($event, stateBefore)" />
    </label>
    <label *ngIf="!stateAfter.pictureData" for="input-Before" class="btn btn-primary">Bild von aufgeräumter Stelle machen
        <input style="display: none;" id="input-Before" type="file" accept="image/*" capture  (change)="setPictureDataAndSave($event, stateAfter)" />
    </label>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary">Stelle aufgeräumt</button>
</div>