<div class="row" style="margin-bottom:640px;">
	<div class="col-md-3">
		<span class="hipster img-fluid img-rounded"></span>
	</div>
	<div class="col-md-6 text-center">
		
		
		<h1 class="display-4" jhiTranslate="home.title">Ramadama!</h1>
		<h2 class="lead" jhiTranslate="home.subtitle"></h2>
		<p>&nbsp;</p>
		<p>In der letzten Stunde wurden
			<font style="font-size: 32px;">127 Stellen</font> in der Region Flaucher aufger&auml;umt! <a href="adf">Auf Karte ansehen.</a></p>
		<p>&nbsp;</p>
		<!-- <div> 
			<div class="alert alert-error ng-scope" ng-show="webcamError" style="">
				<span>Webcam could not be started. Did you give access to it?</span>
			</div>
			<webcam channel="channel" 
				on-streaming="onSuccess()" 
				on-error="onError(err)" 
				on-stream="onStream(stream)">
			</webcam>
			<button (click)="makeSnapshot()">take picture</button>
			<canvas id="snapshot" width="300" height="300"></canvas>
		</div> -->
		<p>Auch mitmachen?</p>
		<button routerLink="action-create-new" routerLinkActive="active" style="cursor:pointer; padding:12px 48px;" class="btn btn-primary">Stelle aufr&auml;umen</button>
		<!-- <jhi-action-create-wizard>  </jhi-action-create-wizard> -->
		<jhi-action-list></jhi-action-list>
	</div>
	<div class="col-md-3">

	</div>
</div>