<div class="row" style="margin-bottom:640px;" >
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-6 text-center">
        <h1 class="display-4" jhiTranslate="home.title">Ramadama!</h1>
        <h2 class="lead" jhiTranslate="home.subtitle"></h2>
        <p>&nbsp;</p>
        <p>In der letzten Stunde wurden <font style="font-size: 32px;">127 Stellen</font> in der Region Flaucher aufger&auml;umt! <a href="adf">Auf Karte ansehen.</a></p>
        <p>&nbsp;</p>
        <p>Auch mitmachen?</p>
        <button   style="cursor:pointer; padding:12px 48px;" class="btn btn-primary">Stelle aufr&auml;umen</button>
        <div style="margin-top:96px;" class="row rmdm-action">
	        <div class="col-md-6">
	        	<img style="width: 300px;" src="../../content/pics/resized20pct/IMG_20170713_113013.jpg">
	        	<div class="timestamp-label">vor 5 Sekunden</div>
	        </div>
	       <div class="col-md-6">
	       		<img style="width: 300px;" src="../../content/pics/resized20pct/IMG_20170713_113019.jpg">
	        	<div class="thanks-label">Danke, Robert!</div>
	        </div>
        </div>
        <div style="margin-top:96px;" class="row rmdm-action">
	        <div class="col-md-6">
	        	<img style="width: 300px;" src="../../content/pics/resized20pct/IMG_20170713_113029.jpg">
	        	<div class="timestamp-label">vor 30 Sekunden</div>
	        </div>
	       <div class="col-md-6">
	       		<img style="width: 300px;" src="../../content/pics/resized20pct/IMG_20170713_113032.jpg">
	        	<div class="thanks-label">Danke, Sabine!</div>
	        </div>
        </div>
        <div style="margin-top:96px;" class="row rmdm-action">
	        <div class="col-md-6">
	        	<img style="width: 300px;" src="../../content/pics/resized20pct/IMG_20170713_112426.jpg">
	        	<div class="timestamp-label">vor einer Minute</div>
	        </div>
	       <div class="col-md-6">
	       		<img style="width: 300px;" src="../../content/pics/resized20pct/IMG_20170713_112428.jpg">
	        	<div class="thanks-label">Danke, Eugen!</div>
	        </div>
        </div>
        <div style="margin-top:96px;" class="row rmdm-action">
	        <div class="col-md-6">
	        	<img style="width: 300px;" src="../../content/pics/resized20pct/IMG_20170713_112504.jpg">
	        	<div class="timestamp-label">vor 2 Minuten</div>
	        </div>
	       <div class="col-md-6">
	       		<img style="width: 300px;" src="../../content/pics/resized20pct/IMG_20170713_112506.jpg">
	        	<div class="thanks-label">Danke, Eugen!</div>
	        </div>
        </div>
        <div style="margin-top:96px;" class="row rmdm-action">
	        <div class="col-md-6">
	        	<img style="width: 300px;" src="../../content/pics/resized20pct/IMG_20170713_112520.jpg">
	        	<div class="timestamp-label">vor 2 Minuten</div>
	        </div>
	       <div class="col-md-6">
	       		<img style="width: 300px;" src="../../content/pics/resized20pct/IMG_20170713_112522.jpg">
	        	<div class="thanks-label">Danke, Kerstin!</div>
	        </div>
        </div>
       
    </div>
    <div class="col-md-3">
    	
    </div>
</div>
