<div class="rmdm-action">
    <div style="margin-top:96px;" class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="file" accept="image/*" capture (change)="setPictureDataAndSave($event,beforeState)" jhiTranslate="entity.action.addblob"/>
            </div>
            <div >beforeState: {{beforeState.id}}</div>
        </div>
        <div class="col-md-6">
            <img style="width: 300px;" src="../../content/pics/resized20pct/IMG_20170713_113019.jpg">
            <div class="thanks-label">Danke, Robert!</div>
        </div>
    </div>
    <div class="col-md-12">
        <button routerLink="addLocation" routerLinkActive="active" style="cursor:pointer; padding:12px 48px;" class="btn btn-primary">Stelle hinzuf&uuml;gen</button>
    </div>
</div>
